@model TuLanh

@if(Model.MaTL > 0) {
    <li class="product_detail_info_item"><b>Dung tích ngăn đá:</b> @Model.DungTichNganDaTL</li>
    <li class="product_detail_info_item"><b>Dung tích ngăn lạnh:</b> @Model.DungTichNganLanhTL</li>
    <li class="product_detail_info_item"><b>Lấy nước ngoài:</b> @Model.LayNuocNgoaiTL</li>
    <li class="product_detail_info_item"><b>Lấy đá tự động:</b> @Model.LayDaTuDongTL</li>
}