@model QuocGia
@{
    var message = TempData["Message"] as string;
}

@section Styles {
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true"/>
}

<div class="admin-product-detail-wrapper">
    <form asp-action="ChiTietQuocGia" method="post" id="admin-product-detail-form">
        <input type="hidden" asp-for="MaQG" />
        <h3>@(Model.MaQG == 0 ? "Thêm quốc gia" : "Chi tiết quốc gia")</h3>
        
        <div class="admin-product-detail-form-row">
            <div class="admin-product-detail-form-group">
                <label asp-for="TenQG">Tên quốc gia:</label>
                <input class="input" style="width: 100%;" type="text" asp-for="TenQG" required placeholder="Nhập tên quốc gia">
            </div>
        </div>

        <button type="submit" class="button button-submit">Lưu</button>
    </form>
</div>

@if (!string.IsNullOrEmpty(message))
{
    <script>
        alert(@Html.Raw(Json.Serialize(message)));
    </script>
}