@{
    ViewData["HideSidebar"] = true;
    var message = TempData["Message"] as string;
    var error = TempData["Error"] as string;
}

@section Styles {
    <link rel="stylesheet" href="~/css/account.css" asp-append-version="true"/>
}

<div class="account-wrapper">
    <div class="account-form">
        <h3 class="account-form-heading">Đăng nhập</h3>
        <form method="post" asp-action="HandleLogin" asp-controller="Admin">
            <div class="account-form-group">
                <label id="userName">Tên đăng nhập:</label>
                <input class="input" type="text" id="userName" name="userName" required placeholder="Nhập tên đăng nhập">
            </div>
            <div class="account-form-group">
                <label id="password">Mật khẩu:</label>
                <input class="input" type="password" minlength="6" id="password" name="password" required placeholder="Nhập mật khẩu">
            </div>
            <button class="button">Đăng nhập</button>
        </form>
    </div>
</div>

@if (!string.IsNullOrEmpty(message))
{
    <script>
        alert('@Html.Raw(message)');
    </script>
}

@if (!string.IsNullOrEmpty(error))
{
    <script>
        alert('@Html.Raw(error)');
    </script>
}