@{
    ViewData["HideSidebar"] = true;
    var error = TempData["Error"] as string;
}

@section Styles {
    <link rel="stylesheet" href="~/css/account.css" asp-append-version="true" />
}

<div class="account-wrapper">
    <div class="account-form">
        <h3 class="account-form-heading">Xác thực OTP</h3>
        <form method="post" asp-action="HandleOTP">
            <div class="account-form-group">
                <label id="otp">Mã OTP:</label>
                <input class="input" type="text" pattern="[0-9]{6}" id="otp" minlength="6" name="otp" required placeholder="Nhập mã OTP gồm 6 số">
            </div>
            <button class="button">Xác thực</button>
        </form>
    </div>
</div>

@if (!string.IsNullOrEmpty(error))
{
    <script>
         alert('@Html.Raw(error)');
    </script>
}