@model DiaChiNhanHang

@{
    var message = TempData["Message"] as string;
}

@section Styles {
    <link rel="stylesheet" href="~/css/taikhoan.css" asp-append-version="true"/>
}

<div class="account_wrapper">
    <div class="account_form">
        <h3 class="account_form_heading">@((Model?.DiaChiCuThe.MaDCCT ?? 0) > 0 ? "Chỉnh sửa địa chỉ" : "Thêm địa chỉ")</h3>
        <form method="post" asp-action="ThemSuaDiaChiNhanHang">
            <div class="account_form_group">
                <label asp-for="TinhTPChon">Tỉnh/Thành Phố</label>
                <select class="select" id="TinhTPChon" asp-for="TinhTPChon" required>
                    <option value="">-- Chọn Tỉnh/Thành phố --</option>
                </select>
                <span asp-validation-for="TinhTPChon" class="account_form_group_message"></span>
            </div>
            <div class="account_form_group">
                <label asp-for="XaPhuongChon">Xã/Phường</label>
                <select class="select" id="XaPhuongChon" asp-for="XaPhuongChon" required>
                    <option value="">-- Chọn Xã/Phường --</option>
                </select>
                <span asp-validation-for="XaPhuongChon" class="account_form_group_message"></span>
            </div>
            <input type="hidden" id="oldTinhTP" value="@Model?.TinhTPChon" />
            <input type="hidden" id="oldXaPhuong" value="@Model?.XaPhuongChon" />
            <div class="account_form_group">
                <label asp-for="DiaChiCuThe.TenDCCT">Số nhà, tền đường/ấp/khóm:</label>
                <input class="input" asp-for="DiaChiCuThe.TenDCCT" type="text" placeholder="Nhập số nhà, tền đường/ấp/khóm" />
                <span asp-validation-for="DiaChiCuThe.TenDCCT" class="account_form_group_message"></span>
            </div>
            <div class="account_form_group checkbox_address_default">
                @if ((Model?.DiaChiCuThe.MacDinhDCCT ?? 0) <= 0) {
                    <input type="checkbox"
                    id="MacDinhDCCT"
                    name="DiaChiCuThe.MacDinhDCCT"
                    value="1" />
                    <label for="MacDinhDCCT">Đặt làm địa chỉ mặc định</label>
                } else {
                    <p style="color: var(--color-success);">Mặc định</p>
                    <input type="hidden" asp-for="DiaChiCuThe.MacDinhDCCT" value="1" />
                }
                <input type="hidden" asp-for="DiaChiCuThe.MacDinhDCCT" value="0" />
                <input type="hidden" asp-for="DiaChiCuThe.MaDCCT" value="@(Model?.DiaChiCuThe.MaDCCT ?? 0)" />
                <span asp-validation-for="DiaChiCuThe.MacDinhDCCT" class="account_form_group_message"></span>
            </div>
            <button type="submit" class="button">Lưu</button>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        initAddressForm('TinhTPChon', 'XaPhuongChon');
    </script>
}

@if (!string.IsNullOrEmpty(message))
{
    <script>
        alert('@Html.Raw(message)');
    </script>
}