@model KhachHang

@{
    var message = TempData["Message"] as string;
}

@section Styles {
    <link rel="stylesheet" href="~/css/taikhoan.css" asp-append-version="true"/>
}

<div class="account_wrapper">
    <div class="account_form">
        <h3 class="account_form_heading">Xác minh số điện thoại</h3>
        <form method="post" asp-action="XacMinhSoDienThoai">
            <div class="account_form_group">
                <label asp-for="SoDienThoaiKH">Số điện thoại:</label>
                <input class="input" asp-for="SoDienThoaiKH" type="tel" placeholder="Nhập số điện thoại của bạn">
                <span asp-validation-for="SoDienThoaiKH" class="account_form_group_message"></span>
            </div>
            <button type="submit" class="button">Xác minh</button>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@if (!string.IsNullOrEmpty(message))
{
    <script>
        alert('@Html.Raw(message)');
    </script>
}