@model TaiKhoan

@{
    var message = TempData["Message"] as string;
}

@section Styles {
    <link rel="stylesheet" href="~/css/taikhoan.css" asp-append-version="true"/>
}

<div class="account_wrapper">
    <div class="account_form">
        <h3 class="account_form_heading">Xác thực OTP</h3>
        <form method="post" asp-action="XacThucOTP">
            <div class="account_form_group">
                <label asp-for="Otp">MãOTP:</label>
                <input class="input" asp-for="Otp" type="text" maxlength="6" placeholder="Nhập mã OTP">
                <span asp-validation-for="Otp" class="account_form_group_message"></span>
            </div>
            <button type="submit" class="button">Xác thực</button>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@if (!string.IsNullOrEmpty(message))
{
    <script>
        alert('@Html.Raw(message)');
    </script>
}