@model TuLanh

<li class="product-detail-info-list-item"><b>Dung tích ngăn đá:</b> @Model.DungTichNganDaTL</li>
<li class="product-detail-info-list-item"><b>Dung tích ngăn lạnh:</b> @Model.DungTichNganLanhTL</li>
<li class="product-detail-info-list-item"><b>Lấy nước ngoài:</b> @Model.LayNuocNgoaiTL</li>
<li class="product-detail-info-list-item"><b>Lấy đá tự động:</b> @Model.LayDaTuDongTL</li>
