.cart-item {
    background-color: var(--color-white);
    padding: 12px;
    border-radius: var(--radius-normal);
    margin-bottom: 12px;
}

.cart-item > h3 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 12px;
}

.cart-item-empty {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-item-empty img {
    width: 100%;
    max-width: 400px;
}

.cart-item-empty p {
    margin: 12px 0;
}

.cart-item-row,
.cart-item-row-left {
    display: flex;
    gap: 12px;
    align-items: center;
}

.cart-item-row {
    justify-content: space-between;
}

.cart-item-row.border-bottom {
    border-bottom: var(--border-normal);
    padding-bottom: 12px;
    margin-bottom: 12px;
}

.cart-item-row.align-right {
    justify-content: flex-end;
}

.cart-item-row img {
    width: 80px;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    border-radius: var(--radius-normal);
    border: var(--border-normal);
    padding: 6px;
}

.cart-item-row h3 {
    font-weight: 600;
}

.cart-item-row-price {
    font-weight: 600;
}

.cart-item-row form .button-no-style.delete {
    font-size: 1.4rem;
    color: var(--color-danger);
    display: flex;
    align-items: center;
    cursor: pointer;
}

.cart-item-row form .button-no-style.delete .material-symbols-outlined {
    font-size: 2rem;
}

.cart-item-row .form-quantity,
.cart-item-row .form-quantity .button-no-style {
    display: flex;
    align-items: center;
}

.cart-item-row .form-quantity {
    border: var(--border-normal);
    border-radius: var(--radius-normal);
    width: 100%;
    max-width: 100px;
}

.cart-item-row .form-quantity .button-no-style {
    padding: 3px;
    cursor: pointer;
}

.cart-item-row .form-quantity .button-no-style .material-symbols-outlined {
    font-size: 2rem;
}

.cart-item-row .form-quantity .button-no-style:hover {
    background-color: var(--color-header-nav-top-list-item-hover);
}

.cart-item-row .form-quantity .button-no-style.left {
    border-top-left-radius: var(--radius-normal);
    border-bottom-left-radius: var(--radius-normal);
    border-right: var(--border-normal);
}

.cart-item-row .form-quantity .button-no-style.right {
    border-top-right-radius: var(--radius-normal);
    border-bottom-right-radius: var(--radius-normal);
    border-left: var(--border-normal);
}

.cart-item-row .form-quantity .input-no-style {
    width: fit-content;
    font-size: 1.4rem;
    width: 100%;
    padding: 0 6px;
    text-align: center;
}

.cart-item-row.item-price {
    padding-top: 12px;
    margin-top: 12px;
    border-top: var(--border-normal);
}

.cart-item-row.item-price.no-border-top {
    border: none;
    padding: 0;
}

.cart-item-row.item-price p + p {
    font-weight: 600;
    color: var(--color-danger);
}

.payment-method-list li label,
.delivery-address-list li label {
    display: flex;
    align-items: center;
    gap: 6px;
}

.payment-method-list li,
.delivery-address-list li {
    margin-bottom: 6px;
}

.delivery-address-list li,
.delivery-address-list li .btn-edit-address {
    display: flex;
    align-items: center;
    gap: 3px;
}

.delivery-address-list li {
    justify-content: space-between;
}

.delivery-address-list li .btn-edit-address {
    color: var(--color-primary);
    cursor: pointer;
    font-size: 1.4rem;
}

.delivery-address-list li .material-symbols-outlined {
    font-size: 2rem;
}

#button-add-address {
    background-color: var(--color-white);
    border-style: dashed;
    width: 100%;
    color: var(--color-primary);
    margin-top: 12px;
    display: flex;
    align-items: center;
    gap: 3px;
    justify-content: center;
}

#form-add-address {
    display: none;
    margin-top: 12px;
    padding-top: 12px;
    border-top: var(--border-normal);
}

#form-add-address h3 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 12px;
}

.cart-form-group {
    margin-bottom: 12px;
}

.align-right {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    flex-wrap: wrap;
}

#form-add-address .button {
    width: 100px;
}

#button-cancel-add-address {
    display: none;
}

.button-cancel {
    background-color: var(--color-button-light);
    color: var(--color-text-normal);
    opacity: 1 !important;
    border: var(--border-normal);
    justify-content: center;
}

.button-cancel:hover {
    background-color: var(--color-button-light-hover);
}

.address-default {
    color: var(--color-success);
}

@media (max-width: 1440px) {
    .cart-wrapper {
        padding: 0 12px;
    }
}

@media (max-width: 960px) {
    .cart-wrapper {
        padding: 0;
    }
}

@media (max-width: 500px) {
    .cart-item-row {
        flex-wrap: wrap;
    }

    .cart-item-row-price {
        width: 100%;
        text-align: right;
    }

    .cart-item-row-price {
        margin-bottom: 12px;
    }
}


@media (max-width: 400px) {
    .cart-item-row-left h3 {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}