.main-products {
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(5, 1fr);
    max-width: 100%;
}

.main-product-item {
    display: block;
    background-color: var(--color-white);
    padding: 12px;
    border-radius: var(--radius-normal);
    box-shadow: 0 0 2px rgb(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    position: relative;
}

.main-product-item:hover {
    transform: translateY(-3px);
}

.main-product-item img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    border-radius: var(--radius-normal);
}

.main-product-item-title {
    font-weight: 600;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 6px 0;
}

.main-product-item-row,
.main-product-item-core-review {
    display: flex;
    align-items: center;
}

.main-product-item-row {
    justify-content: space-between;
    gap: 6px;
}

.main-product-item-discount-level,
.main-product-item-original-price,
.main-product-item-core-review,
.main-product-item-sold {
    font-size: 1.4rem;
}

.main-product-item-discount-price,
.main-product-item-discount-level {
    color: var(--color-danger);
    font-weight: 600;
}

.main-product-item-discount-price {
    margin-bottom: 2px;
}

.main-product-item-core-review .material-symbols-outlined {
    font-size: 2rem;
    color: var(--color-warning);
}

.main-product-item-out {
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
}

.main-product-item-out p {
    background-color: var(--color-danger);
    color: var(--color-white);
    padding: 8px;
    border-radius: var(--radius-normal);
    transform: translateY(-50%);
}

.main-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    gap: 6px;
    flex-wrap: wrap;
}

.main-pagination a {
    padding: 8px;
    min-width: 40px;
    background-color: var(--color-white);
    border: var(--border-normal);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius-normal);
    box-shadow: 0 0 2px rgb(0, 0, 0, 0.1);
}

.main-pagination a:hover {
    border-color: var(--color-primary);
}

.main-pagination a.active {
    background-color: var(--color-primary);
    color: var(--color-white);
    border-color: var(--color-primary);
}

.product-detail-wrapper {
    display: grid;
    grid-template-columns: 1fr 400px;
    gap: 12px;
}

.product-deatail-heading {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 12px;
}

.product-detail-info-basic {
    background-color: var(--color-white);
    border-radius: var(--radius-normal);
    padding: 12px 12px 0 12px;
    max-height: fit-content;
}

.product-image-slider {
    position: relative;
    padding: 12px;
    width: 100%;
    max-height: 400px;
    overflow: hidden;
    background-color: var(--color-white);
    border-radius: var(--radius-normal);
}

.product-image-slider img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    aspect-ratio: 1 / 1;
}

.product-image-slider-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
    color: var(--color-white);
    border: none;
    font-size: 2.4rem;
    padding: 8px 12px;
    cursor: pointer;
    z-index: 10;
}

.product-image-slider-nav.left {
    left: 6px;
}

.product-image-slider-nav.right {
    right: 6px;
}

.product-image-slider-nav:hover {
    background: rgba(0,0,0,0.6);
}

.product-detail-info-basic-row,
.product-detail-info-basic-core-review {
    display: flex;
    align-items: center;
}

.product-detail-info-basic-row {
    gap: 12px;
    margin-bottom: 12px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-detail-info-basic-core-review .material-symbols-outlined {
    color: var(--color-warning);
}

.product-detail-info-basic-discount-price,
.product-detail-info-basic-discount-level {
    color: var(--color-danger);
    font-weight: 600;
}

.product-detail-info-basic-discount-price {
    font-size: 2rem;
}

.product-detail-info-basic-row form {
    flex: 1;
    min-width: fit-content;
}

.product-detail-info-basic-row form .button {
    width: 100%;
}

.product-detail-info-basic-row .button.add-to-cart {
    background-color: var(--color-white);
    color: var(--color-primary);
}

.product-detail-info {
    background-color: var(--color-white);
    border-radius: var(--radius-normal);
    padding: 12px;
}

.product-detail-info-list-item {
    padding: 8px 12px;
    border-bottom: var(--border-normal);
}

.product-detail-info-list-item:last-child {
    border: none;
    padding-bottom: 0;
}

.product-detail-info-list-item > b {
    font-weight: 600;
}

.main-product-detail-review  {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.main-product-detail-review > div {
    background-color: var(--color-white);
    border-radius: var(--radius-normal);
    padding: 12px;
}

.star-rating {
    display: flex;
    gap: 6px;
    justify-content: space-evenly;
    align-self: center;
    direction: rtl;
    flex-wrap: wrap;
}

.star-rating input {
    display: none;
}

.star-rating label {
    cursor: pointer;
}

.star-rating .material-symbols-outlined {
    font-size: 4rem;
    color: #c8c8c8;
    transition: color 0.2s ease;
}

.star-rating label:hover .material-symbols-outlined,
.star-rating label:hover ~ label .material-symbols-outlined {
    color: var(--color-warning);
}

.star-rating input:checked ~ label .material-symbols-outlined {
    color: var(--color-warning);
}

.comment-box {
    width: 100%;
    margin: 12px 0;
    resize: vertical;
}

.rating-form .btn-submit {
    width: 100%;
}

.rating-list li {
    font-size: 1.4rem;
    display: grid;
    border-bottom: var(--border-normal);
    padding-bottom: 6px;
    margin-bottom: 6px;
    border-radius: var(--radius-normal);
}

.rating-list li:last-child {
    border: none;
    margin: 0;
    padding: 0;
}

.rating-list li b {
    font-weight: 600;
}

.rating-list li > div,
.rating-list li > div > div {
    display: flex;
    align-items: center;
}

.rating-list li > div {
    gap: 12px;
    flex-wrap: wrap;
}

.rating-list li > div > div > .material-symbols-outlined {
    font-size: 2rem;
    color: var(--color-warning);
}

@media (max-width: 1440px) {
    .main-products {
        padding-right: 12px;
    }

    .product-detail-wrapper {
        padding: 0 12px;
    }
}

@media (max-width: 1200px) {
    .main-products {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 960px) {
    .main-products {
        padding-right: 0;
    }

    .product-detail-wrapper {
        padding: 0;
    }
}

@media (max-width: 800px) {
    .main-products {
        grid-template-columns: repeat(3, 1fr);
    }

    .product-detail-wrapper {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 580px) {
    .main-products {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .product-detail-wrapper {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 400px) {
    .main-products {
        grid-template-columns: repeat(1, 1fr);
    }
}