@model NoiChien

<div class="admin-product-detail-form-row row4">
    <div class="admin-product-detail-form-group">
        <label asp-for="DungTichTongNC">Dung tích tổng:</label>
        <textarea class="input" rows="1" asp-for="DungTichTongNC" placeholder="Nhập dung tích tổng"></textarea>
    </div>
    <div class="admin-product-detail-form-group">
        <label asp-for="DungTichSuDungNC">Dung tích sử dụng:</label>
        <textarea class="input" rows="1" asp-for="DungTichSuDungNC" placeholder="Nhập dung tích sử dụng"></textarea>
    </div>
    <div class="admin-product-detail-form-group">
        <label asp-for="NhietDoNC">Nhiệt độ:</label>
        <textarea class="input" rows="1" asp-for="NhietDoNC" placeholder="Nhập nhiệt độ"></textarea>
    </div>
    <div class="admin-product-detail-form-group">
        <label asp-for="HenGioNC">Hẹn giờ:</label>
        <textarea class="input" rows="1" asp-for="HenGioNC" placeholder="Nhập thông tin hẹn giờ"></textarea>
    </div>
    <div class="admin-product-detail-form-group">
        <label asp-for="BangDieuKhienNC">Bảng điều khiển:</label>
        <textarea class="input" rows="1" asp-for="BangDieuKhienNC" placeholder="Nhập thông tin bảng điều khiển"></textarea>
    </div>
    <div class="admin-product-detail-form-group">
        <label asp-for="ChieuDaiDayDienNC">Chiều dài dây điện:</label>
        <textarea class="input" rows="1" asp-for="ChieuDaiDayDienNC" placeholder="Nhập chiều dài dây điện"></textarea>
    </div>
</div>
