@model TuLanh

<div class="admin-product-detail-form-row row4">
    <div class="admin-product-detail-form-group">
        <label asp-for="DungTichNganDaTL">Dung tích ngăn đá:</label>
        <textarea class="input" rows="1" asp-for="DungTichNganDaTL" placeholder="Nhập dung tích ngăn đá"></textarea>
    </div>
    <div class="admin-product-detail-form-group">
        <label asp-for="DungTichNganLanhTL">Dung tích ngăn lạnh:</label>
        <textarea class="input" rows="1" asp-for="DungTichNganLanhTL" placeholder="Nhập dung tích ngăn lạnh"></textarea>
    </div>
    <div class="admin-product-detail-form-group">
        <label asp-for="LayNuocNgoaiTL">Lấy nước ngoài:</label>
        <textarea class="input" rows="1" asp-for="LayNuocNgoaiTL" placeholder="Nhập thông tin lấy nước ngoài"></textarea>
    </div>
    <div class="admin-product-detail-form-group">
        <label asp-for="LayDaTuDongTL">Lấy đá tự động:</label>
        <textarea class="input" rows="1" asp-for="LayDaTuDongTL" placeholder="Nhập thông tin lấy đá tự động"></textarea>
    </div>
</div>
