@model TiVi

<div class="admin-product-detail-form-row row4">
    <div class="admin-product-detail-form-group">
        <label asp-for="CoManHinhTV">Cỡ màn hình:</label>
        <textarea class="input" rows="1" asp-for="CoManHinhTV" placeholder="Nhập cỡ màn hình"></textarea>
    </div>
    <div class="admin-product-detail-form-group">
        <label asp-for="DoPhanGiaiTV">Độ phân giải:</label>
        <textarea class="input" rows="1" asp-for="DoPhanGiaiTV" placeholder="Nhập độ phân giải"></textarea>
    </div>
    <div class="admin-product-detail-form-group">
        <label asp-for="LoaiManHinhTV">Loại màn hình:</label>
        <textarea class="input" rows="1" asp-for="LoaiManHinhTV" placeholder="Nhập loại màn hình"></textarea>
    </div>
    <div class="admin-product-detail-form-group">
        <label asp-for="TanSoQuetTV">Tần số quét:</label>
        <textarea class="input" rows="1" asp-for="TanSoQuetTV" placeholder="Nhập tần số quét"></textarea>
    </div>
    <div class="admin-product-detail-form-group">
        <label asp-for="DieuKhienTV">Điều khiển:</label>
        <textarea class="input" rows="1" asp-for="DieuKhienTV" placeholder="Nhập điều khiển"></textarea>
    </div>
    <div class="admin-product-detail-form-group">
        <label asp-for="CongKetNoiTV">Cổng kết nối:</label>
        <textarea class="input" rows="1" asp-for="CongKetNoiTV" placeholder="Nhập cổng kết nối"></textarea>
    </div>
</div>
