@model NoiComDien

<div class="admin-product-detail-form-row row4">
    <div class="admin-product-detail-form-group">
        <label asp-for="DungTichNCD">Dung tích:</label>
        <textarea class="input" rows="1" asp-for="DungTichNCD" placeholder="Nhập dung tích"></textarea>
    </div>
    <div class="admin-product-detail-form-group">
        <label asp-for="ChucNangNCD">Chức năng:</label>
        <textarea class="input" rows="1" asp-for="ChucNangNCD" placeholder="Nhập chức năng"></textarea>
    </div>
    <div class="admin-product-detail-form-group">
        <label asp-for="DoDayNCD">Độ dày:</label>
        <textarea class="input" rows="1" asp-for="DoDayNCD" placeholder="Nhập độ dày"></textarea>
    </div>
    <div class="admin-product-detail-form-group">
        <label asp-for="DieuKhienNCD">Điều khiển:</label>
        <textarea class="input" rows="1" asp-for="DieuKhienNCD" placeholder="Nhập thông tin điều khiển"></textarea>
    </div>
    <div class="admin-product-detail-form-group">
        <label asp-for="ChieuDaiDayDienNCD">Chiều dài dây điện:</label>
        <textarea class="input" rows="1" asp-for="ChieuDaiDayDienNCD" placeholder="Nhập chiều dài dây điện"></textarea>
    </div>
</div>
