@model MayLocKhongKhi

<div class="admin-product-detail-form-row row4">
    <div class="admin-product-detail-form-group">
        <label asp-for="LoaiBuiLocDuocMLKK">Loại bụi lọc được:</label>
        <textarea class="input" rows="1" asp-for="LoaiBuiLocDuocMLKK" placeholder="Nhập loại bụi lọc được"></textarea>
    </div>
    <div class="admin-product-detail-form-group">
        <label asp-for="PhamViLocMLKK">Phạm vi lọc:</label>
        <textarea class="input" rows="1" asp-for="PhamViLocMLKK" placeholder="Nhập phạm vi lọc"></textarea>
    </div>
    <div class="admin-product-detail-form-group">
        <label asp-for="LuongGioMLKK">Lưu lượng gió:</label>
        <textarea class="input" rows="1" asp-for="LuongGioMLKK" placeholder="Nhập lưu lượng gió"></textarea>
    </div>
    <div class="admin-product-detail-form-group">
        <label asp-for="MangLocMLKK">Màng lọc:</label>
        <textarea class="input" rows="1" asp-for="MangLocMLKK" placeholder="Nhập thông tin màng lọc"></textarea>
    </div>
    <div class="admin-product-detail-form-group">
        <label asp-for="BangDieuKhienMLKK">Bảng điều khiển:</label>
        <textarea class="input" rows="1" asp-for="BangDieuKhienMLKK" placeholder="Nhập thông tin bảng điều khiển"></textarea>
    </div>
    <div class="admin-product-detail-form-group">
        <label asp-for="DoOnMLKK">Độ ồn:</label>
        <textarea class="input" rows="1" asp-for="DoOnMLKK" placeholder="Nhập độ ồn"></textarea>
    </div>
    <div class="admin-product-detail-form-group">
        <label asp-for="CamBienMLKK">Cảm biến:</label>
        <textarea class="input" rows="1" asp-for="CamBienMLKK" placeholder="Nhập thông tin cảm biến"></textarea>
    </div>
</div>
