@model MayRuaChen

<div class="admin-product-detail-form-row row4">
    <div class="admin-product-detail-form-group">
        <label asp-for="NuocTieuThuMRC">Lượng nước tiêu thụ:</label>
        <textarea class="input" rows="1" asp-for="NuocTieuThuMRC" placeholder="Nhập lượng nước tiêu thụ"></textarea>
    </div>
    <div class="admin-product-detail-form-group">
        <label asp-for="SoChenRuaDuocMRC">Số chén rửa được:</label>
        <textarea class="input" rows="1" asp-for="SoChenRuaDuocMRC" placeholder="Nhập số chén rửa được"></textarea>
    </div>
    <div class="admin-product-detail-form-group">
        <label asp-for="DoOnMRC">Độ ồn:</label>
        <textarea class="input" rows="1" asp-for="DoOnMRC" placeholder="Nhập độ ồn"></textarea>
    </div>
    <div class="admin-product-detail-form-group">
        <label asp-for="BangDieuKhienMRC">Bảng điều khiển:</label>
        <textarea class="input" rows="1" asp-for="BangDieuKhienMRC" placeholder="Nhập thông tin bảng điều khiển"></textarea>
    </div>
    <div class="admin-product-detail-form-group">
        <label asp-for="ChieuDaiOngCapNuocMRC">Chiều dài ống cấp nước:</label>
        <textarea class="input" rows="1" asp-for="ChieuDaiOngCapNuocMRC" placeholder="Nhập chiều dài ống cấp nước"></textarea>
    </div>
    <div class="admin-product-detail-form-group">
        <label asp-for="ChieuDaiOngThoatNuocMRC">Chiều dài ống thoát nước:</label>
        <textarea class="input" rows="1" asp-for="ChieuDaiOngThoatNuocMRC" placeholder="Nhập chiều dài ống thoát nước"></textarea>
    </div>
</div>
