@model MayLocNuoc

<div class="admin-product-detail-form-row row4">
    <div class="admin-product-detail-form-group">
        <label asp-for="KieuLapMLN">Kiểu lắp đặt:</label>
        <textarea class="input" rows="1" asp-for="KieuLapMLN" placeholder="Nhập kiểu lắp đặt"></textarea>
    </div>
    <div class="admin-product-detail-form-group">
        <label asp-for="CongSuatLocMLN">Công suất lọc:</label>
        <textarea class="input" rows="1" asp-for="CongSuatLocMLN" placeholder="Nhập công suất lọc"></textarea>
    </div>
    <div class="admin-product-detail-form-group">
        <label asp-for="TiLeLocThaiMLN">Tỉ lệ lọc thải:</label>
        <textarea class="input" rows="1" asp-for="TiLeLocThaiMLN" placeholder="Nhập tỉ lệ lọc thải"></textarea>
    </div>
    <div class="admin-product-detail-form-group">
        <label asp-for="ChiSoNuocMLN">Chỉ số nước:</label>
        <textarea class="input" rows="1" asp-for="ChiSoNuocMLN" placeholder="Nhập chỉ số nước"></textarea>
    </div>
    <div class="admin-product-detail-form-group">
        <label asp-for="DoPHThucTeMLN">Độ pH thực tế:</label>
        <textarea class="input" rows="1" asp-for="DoPHThucTeMLN" placeholder="Nhập độ pH thực tế"></textarea>
    </div>
    <div class="admin-product-detail-form-group">
        <label asp-for="ApLucNuocYeuCauMLN">Áp lực nước yêu cầu:</label>
        <textarea class="input" rows="1" asp-for="ApLucNuocYeuCauMLN" placeholder="Nhập áp lực nước yêu cầu"></textarea>
    </div>
    <div class="admin-product-detail-form-group">
        <label asp-for="SoLoiLocMLN">Số lõi lọc:</label>
        <input class="input" type="number" asp-for="SoLoiLocMLN" placeholder="Nhập số lõi lọc" />
    </div>
    <div class="admin-product-detail-form-group">
        <label asp-for="BangDieuKhienMLN">Bảng điều khiển:</label>
        <textarea class="input" rows="1" asp-for="BangDieuKhienMLN" placeholder="Nhập thông tin bảng điều khiển"></textarea>
    </div>
</div>
