@model MayLanh;

<div class="admin-product-detail-form-row row4">
    <div class="admin-product-detail-form-group">
        <label asp-for="CongSuatLamLanhML">Công suất làm lạnh:</label>
        <textarea class="input" rows="1" asp-for="CongSuatLamLanhML" placeholder="Nhập công suất làm lạnh"></textarea>
    </div>
    <div class="admin-product-detail-form-group">
        <label asp-for="PhamViLamLanhML">Phạm vi làm lạnh:</label>
        <textarea class="input" rows="1" asp-for="PhamViLamLanhML" placeholder="Nhập phạm vi làm lạnh"></textarea>
    </div>
    <div class="admin-product-detail-form-group">
        <label asp-for="DoOnML">Độ ồn:</label>
        <textarea class="input" rows="1" asp-for="DoOnML" placeholder="Nhập độ ồn"></textarea>
    </div>
    <div class="admin-product-detail-form-group">
        <label asp-for="LoaiGasML">Loại gas:</label>
        <textarea class="input" rows="1" asp-for="LoaiGasML" placeholder="Nhập loại gas"></textarea>
    </div>
     <div class="admin-product-detail-form-group">
        <label asp-for="CheDoGioML">Chế độ gió:</label>
        <textarea class="input" rows="1" asp-for="CheDoGioML" placeholder="Nhập chế độ gió"></textarea>
    </div>
</div>