@model MayLocNuoc

<div class="admin-product-detail-form-row">
    <div class="admin-product-detail-form-group">
        <label asp-for="KieuLapMLN">Kiểu lắp:</label>
        <input class="input" style="width: 100%;" type="text" asp-for="KieuLapMLN" placeholder="Nhập kiểu lắp">
    </div>
</div>

<div class="admin-product-detail-form-row">
    <div class="admin-product-detail-form-group">
        <label asp-for="CongSuatLocMLN">Công suất lọc:</label>
        <input class="input" style="width: 100%;" type="text" asp-for="CongSuatLocMLN" placeholder="Nhập công suất lọc">
    </div>
</div>

<div class="admin-product-detail-form-row">
    <div class="admin-product-detail-form-group">
        <label asp-for="TiLeLocThaiMLN">Tỉ lệ lọc thải:</label>
        <input class="input" style="width: 100%;" type="text" asp-for="TiLeLocThaiMLN" placeholder="Nhập tỉ lệ lọc thải">
    </div>
</div>

<div class="admin-product-detail-form-row">
    <div class="admin-product-detail-form-group">
        <label asp-for="ChiSoNuocMLN">Chỉ số nước:</label>
        <input class="input" style="width: 100%;" type="text" asp-for="ChiSoNuocMLN" placeholder="Nhập chỉ số nước">
    </div>
</div>

<div class="admin-product-detail-form-row">
    <div class="admin-product-detail-form-group">
        <label asp-for="DoPHThucTeMLN">Độ pH thực tế:</label>
        <input class="input" style="width: 100%;" type="text" asp-for="DoPHThucTeMLN" placeholder="Nhập độ pH thực tế">
    </div>
</div>

<div class="admin-product-detail-form-row">
    <div class="admin-product-detail-form-group">
        <label asp-for="ApLucNuocYeuCauMLN">Áp lực nước yêu cầu:</label>
        <input class="input" style="width: 100%;" type="text" asp-for="ApLucNuocYeuCauMLN" placeholder="Nhập áp lực nước yêu cầu">
    </div>
</div>

<div class="admin-product-detail-form-row">
    <div class="admin-product-detail-form-group">
        <label asp-for="SoLoiLocMLN">Số lõi lọc:</label>
        <input class="input" style="width: 100%;" type="number" asp-for="SoLoiLocMLN" min="0" placeholder="Nhập số lõi lọc">
    </div>
</div>

<div class="admin-product-detail-form-row">
    <div class="admin-product-detail-form-group">
        <label asp-for="BangDieuKhienMLN">Bảng điều khiển:</label>
        <input class="input" style="width: 100%;" type="text" asp-for="BangDieuKhienMLN" placeholder="Nhập thông tin bảng điều khiển">
    </div>
</div>