@model NoiComDien

<div class="admin-product-detail-form-row">
    <div class="admin-product-detail-form-group">
        <label asp-for="DungTichNCD">Dung tích:</label>
        <input class="input" style="width: 100%;" type="text" asp-for="DungTichNCD" placeholder="Nhập dung tích">
    </div>
</div>

<div class="admin-product-detail-form-row">
    <div class="admin-product-detail-form-group">
        <label asp-for="ChucNangNCD">Chức năng:</label>
        <input class="input" style="width: 100%;" type="text" asp-for="ChucNangNCD" placeholder="Nhập các chức năng">
    </div>
</div>

<div class="admin-product-detail-form-row">
    <div class="admin-product-detail-form-group">
        <label asp-for="DoDayNCD">Độ dày:</label>
        <input class="input" style="width: 100%;" type="text" asp-for="DoDayNCD" placeholder="Nhập độ dày">
    </div>
</div>

<div class="admin-product-detail-form-row">
    <div class="admin-product-detail-form-group">
        <label asp-for="DieuKhienNCD">Điều khiển:</label>
        <input class="input" style="width: 100%;" type="text" asp-for="DieuKhienNCD" placeholder="Nhập thông tin điều khiển">
    </div>
</div>

<div class="admin-product-detail-form-row">
    <div class="admin-product-detail-form-group">
        <label asp-for="ChieuDaiDayDienNCD">Chiều dài dây điện:</label>
        <input class="input" style="width: 100%;" type="text" asp-for="ChieuDaiDayDienNCD" placeholder="Nhập chiều dài dây điện">
    </div>
</div>