@model NoiChien

<div class="admin-product-detail-form-row">
    <div class="admin-product-detail-form-group">
        <label asp-for="DungTichTongNC">Dung tích tổng:</label>
        <input class="input" style="width: 100%;" type="text" asp-for="DungTichTongNC" placeholder="Nhập dung tích tổng">
    </div>
</div>

<div class="admin-product-detail-form-row">
    <div class="admin-product-detail-form-group">
        <label asp-for="DungTichSuDungNC">Dung tích sử dụng:</label>
        <input class="input" style="width: 100%;" type="text" asp-for="DungTichSuDungNC" placeholder="Nhập dung tích sử dụng">
    </div>
</div>

<div class="admin-product-detail-form-row">
    <div class="admin-product-detail-form-group">
        <label asp-for="NhietDoNC">Nhiệt độ:</label>
        <input class="input" style="width: 100%;" type="text" asp-for="NhietDoNC" placeholder="Nhập nhiệt độ">
    </div>
</div>

<div class="admin-product-detail-form-row">
    <div class="admin-product-detail-form-group">
        <label asp-for="HenGioNC">Hẹn giờ:</label>
        <input class="input" style="width: 100%;" type="text" asp-for="HenGioNC" placeholder="Nhập thông tin hẹn giờ">
    </div>
</div>

<div class="admin-product-detail-form-row">
    <div class="admin-product-detail-form-group">
        <label asp-for="BangDieuKhienNC">Bảng điều khiển:</label>
        <input class="input" style="width: 100%;" type="text" asp-for="BangDieuKhienNC" placeholder="Nhập thông tin bảng điều khiển">
    </div>
</div>

<div class="admin-product-detail-form-row">
    <div class="admin-product-detail-form-group">
        <label asp-for="ChieuDaiDayDienNC">Chiều dài dây điện:</label>
        <input class="input" style="width: 100%;" type="text" asp-for="ChieuDaiDayDienNC" placeholder="Nhập chiều dài dây điện">
    </div>
</div>