<footer id="footer">
    <div class="footer-content">
        <div class="footer-info">
            <div>
                <h3 class="footer-info-heading">Thông tin liên hệ</h3>
                <ul class="footer-info-list">
                    <li>Email: cskh@velectric.com</li>
                    <li>Số điện thoại: 0706123456</li>
                    <li>Địa chỉ: Số 102, Nguyễn Đáng, Hòa Thuận, Vĩnh Long</li>
                </ul>
            </div>
            <div>
                <h3 class="footer-info-heading">Mạng xã hội</h3>
                <ul class="footer-info-list horizontal">
                    <li>
                        <a href="#">
                            <img src="/images/icon_facebook.png" alt="Icon Facebook">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/images/icon_zalo.png" alt="Icon Zalo">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/images/icon_youtube.png" alt="Icon Youtube">
                        </a>
                    </li>
                </ul>
            </div>
            <div>
                <div>
                    <ul class="footer-info-list">
                        <li>
                            <img src="/images/da_thong_bao_bo_cong_thuong.png" class="img-custom" alt="Đã thông báo Bộ Công Thương">
                        </li>
                        <li>
                            <a href="//www.dmca.com/Protection/Status.aspx?ID=4dd1b24e-c818-40e8-9965-aa6d47219953" target="_blank"> 
                                <img src ="https://images.dmca.com/Badges/dmca_protected_sml_120m.png?ID=4dd1b24e-c818-40e8-9965-aa6d47219953" alt="DMCA.com Protection Status" />
                            </a>  
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <p class="footer-content-end">&copy; VElectric 2025</p>
    </div> 
</footer>
