<aside id="sidebar">
    <h3 class="sidebar-heading">Cá nhân</h3>
    <ul class="sidebar-list">
        <li class="sidebar-list-item">
            <a asp-controller="Admin" asp-action="Personal" class="sidebar-list-link">Tài khoản</a>
        </li>
        <li class="sidebar-list-item">
            <form asp-controller="Account" asp-action="Logout" method="post" onsubmit="return confirm('Bạn có chắc muốn đăng xuất không?');">
                @Html.AntiForgeryToken()
                <button type="submit" class="button-no-style sidebar-list-button">Đăng xuất</button>
            </form>
        </li>
    </ul> 
</aside>
