<aside id="sidebar">
    <h3 class="sidebar-heading">Quản trị</h3>
    <ul class="sidebar-list">
        <li class="sidebar-list-item">
            <a asp-controller="Admin" asp-action="Index" class="sidebar-list-link">Thống kê</a>
        </li>
        <li class="sidebar-list-item">
            <a asp-controller="Admin" asp-action="Product" class="sidebar-list-link">Sản phẩm</a>
        </li>
         <li class="sidebar-list-item">
            <a asp-controller="Admin" asp-action="Order" class="sidebar-list-link">Đơn hàng</a>
        </li>
        <li class="sidebar-list-item">
            <a asp-controller="Admin" asp-action="Country" class="sidebar-list-link">Quốc gia</a>
        </li>
        <li class="sidebar-list-item">
            <a asp-controller="Admin" asp-action="Brand" class="sidebar-list-link">Thương hiệu</a>
        </li>
    </ul> 
</aside>
